# Ignore compiled files
/out/

# Ignore IntelliJ IDEA settings
/.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db


# Ignore the 'out' directory
/out/

# Allow the '.iml' file to be tracked
!/Learning_Java_Programs.iml

